<ion-view title="Choice" id="page7" style="background-color:#808080;">
    <ion-content padding="true" class="has-header">
        <h1 id="choice-heading1" style="color:#FFFFFF;text-align:center;">Puzzles Bar</h1>
        <div>
            <img src="img/ioEoZsNmRAmFW7tvF3nA_Bar.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div class="spacer" style="width: 285px; height: 15px;"></div>
        <div id="choice-markdown1" style="color:#FFFFFF;text-align:center;">
            <p>Puzzles Bar</p>

            <p>Yes why is it called puzzels?</p>

            <p>That is the puzzle</p>
        </div>
        <div class="button-bar">
            <button id="choice-button4" class="button button-assertive  button-block">Hot</button>
            <a ui-sref="tabsController.googleMaps" id="choice-button5" class="button button-balanced  button-block">Go</a>
            <button id="choice-button6" class="button button-positive  button-block">Chill</button>
        </div>
        <button id="choice-button22" class="button button-royal  button-block icon ion-android-add">Post</button>
        <button id="choice-button23" class="button button-royal  button-block icon ion-android-camera">Camera</button>
    </ion-content>
</ion-view>