<ion-view title="Home" id="page11" style="background-color:grey;">
    <ion-content padding="true" scroll="false" class="has-header">
        <h2 id="home-heading2" style="color:#FFFFFF;font-weight:600;text-align:center;">ChoiScene</h2>
        <div class="spacer" style="width: 300px; height: 0px;"></div>
        <div>
            <img src="img/bmWBP7m1RECaU102jy7h_ChoiScene_logo.png" width="100" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div class="spacer" style="width: 300px; height: 14px;"></div>
        <div>
            <style>
                p {color: white;}
            </style>
            <p align="center">
                <b>What is it that you really want to do?</b>
            </p>
        </div>
        <a ui-sref="tabsController.yourScene" id="home-button13" style="font-weight:600;border-radius:1px 1px 1px 1px;" class="button button-dark  button-block icon ion-pizza">Eat</a>
        <div class="spacer" style="width: 300px; height: 17px;"></div>
        <a ui-sref="tabsController.yourScene" id="home-button14" style="font-weight:600;" class="button button-dark  button-block icon ion-beer">Drink</a>
        <div class="spacer" style="width: 300px; height: 17px;"></div>
        <a ui-sref="tabsController.yourScene" id="home-button15" style="font-weight:600;" class="button button-dark  button-block icon ion-android-happy">Play</a>
    </ion-content>
</ion-view>