<ion-view title="Signup" id="page10" style="background-color:grey;">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <ion-list>
                <label class="item item-input" name="name">
                    <input type="text" placeholder="Name">
                </label>
                <label class="item item-input" name="userName">
                    <input type="text" placeholder="Username">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Password">
                </label>
            </ion-list>
            <a ui-sref="tabsController.home_tab5" id="signup-button9" class="button button-dark  button-block icon ion-ios-contact">Sign up</a>
        </form>
        <button id="signup-button10" class="button button-positive  button-block icon ion-social-facebook"></button>
        <button id="signup-button11" class="button button-assertive  button-block icon ion-social-googleplus"></button>
        <a ui-sref="claimBusiness" id="signup-button12" class="button button-royal  button-block icon ion-android-add-circle">Claim Business</a>
    </ion-content>
</ion-view>