<ion-view title="Tabs Controller" id="page1">
    <ion-tabs class="tabs-dark tabs-icon-top">
        <ion-tab title="Home" icon="ion-ios-home" href="#/page1/tab5/Home">
            <ion-nav-view name="tab5"></ion-nav-view>
        </ion-tab>
        <ion-tab title="ChoiScene" icon="ion-ios-ionic-outline" href="#/page1/tab7/choiScene">
            <ion-nav-view name="tab7"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Find" icon="ion-android-search" href="#/page1/search">
            <ion-nav-view name="tab8"></ion-nav-view>
        </ion-tab>
        <ion-tab title="User" icon="ion-ios-contact-outline" href="#/page1/Login">
            <ion-nav-view name="tab6"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>